:root {
  --white: #fff;
  --light-blue: #e3f4fc;
  --red: #d73328;
  --lime: #d7da2f;
  --slate-100: #e3f3fd;
  --slate-300: #9abed5;
  --slate-500: #6b94a8;
  --slate-700: #4e6e7e;
  --slate-900: #122f3f;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--light-blue);
}

.calculator {
  background: var(--white);
}
