@use './util' as u;

.default-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 24px;
  background: var(--slate-900);
  text-align: center;

  &__hero-image {
    width: 58.7%;
  }

  &__heading {
    font-size: u.rem(24);
    font-weight: var(--fw-bold);
    color: var(--white);
  }
}
