@use './util' as u;

.form {
  &__container,
  &__inner-container {
    &:not(:last-child) {
      margin-bottom: u.rem(27);
    }
  }

  &__container {
    &:last-child {
      margin-bottom: u.rem(23);
    }
  }

  &__label {
    display: block;
    margin-bottom: 7px;
    color: var(--slate-700);
  }

  &__error-message {
    display: none;
    margin-top: 10px;
    font-size: u.rem(14);
    color: var(--red);

    &--visible {
      display: block;
    }
  }
}
