@use './util' as u;

.input-section {
  padding: 32px 24px;

  &__heading {
    margin-bottom: u.rem(6);
    font-size: u.rem(24);
    font-weight: var(--fw-bold);
    line-height: 1.4;
    color: var(--slate-900);
  }

  &__clear-button {
    padding: 0;
    margin-bottom: u.rem(25);
    background: none;
    border: none;
    font-size: u.rem(16);
    font-weight: var(--fw-normal);
    text-decoration: underline;
    text-underline-offset: u.rem(3);
    color: var(--slate-700);
  }
}
