@use './util' as u;

.results-screen {
  padding: 30px 24px 32px;
  background: var(--slate-900);

  &__heading {
    font-size: u.rem(24);
    font-weight: var(--fw-bold);
    color: var(--white);
  }

  &__description {
    color: var(--slate-300);
  }
}
