@use './util' as u;

.results-screen {
  padding: 30px 24px 32px;
  background: var(--slate-900);

  &__heading {
    margin-bottom: u.rem(14);
    font-size: u.rem(24);
    font-weight: var(--fw-bold);
    color: var(--white);
  }

  &__description {
    margin-bottom: 28px;
    color: var(--slate-300);
  }

  &__main-section {
    padding: 22px 15px;
    background: var(--slate-1100);
    border-radius: 6px;
    box-shadow: 0 -4px 0 var(--lime-500);
  }
}
